@use "sass:color";

@mixin dark {
  .dark-theme & {
    @content;
  }
}

@mixin btn-variant($bg-color, $text-color: white, $bg-color-dark: null) {
  background-color: $bg-color;
  color: $text-color;
  
  &:hover {
    background-color: color.adjust($bg-color, $lightness: 7%);
    border-color: $bg-color;
    color: $text-color;
  }
  
  @if $bg-color-dark {
    @include dark {
      background-color: $bg-color-dark;
      
      &:hover {
        background-color: color.adjust($bg-color-dark, $lightness: 7%);
        border-color: $bg-color-dark;
      }
    }
  }
}