:root {
  // Breakpoints
  --breakpoint-2xs: 440px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 960px;
}

$breakpoint-2xs: 400px;
$breakpoint-xs: 600px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;

// Light theme colors
$primary: #00957f;
$secondary: #df4f5f;
$border-color: #e5e7eb;
$text-color: #213547;
$surface-color: #f8f9fa;
$bg-color: #ffffff;

$header-bg: $primary;
$footer-bg: $primary;
$card-bg: white;

// Dark theme colors
$primary--dark: #00c099;
$secondary--dark: #295672;
$text-color--dark: rgba(255, 255, 255, 0.87);
$bg-color--dark: #1f2937;
$surface-color--dark: #141d29;
$border-color--dark: #1a222e;

$header-bg--dark: $surface-color--dark;
$footer-bg--dark: $surface-color--dark;
$card-bg--dark: $surface-color--dark;

// Fonts
$base-font: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
$heading-font: "Oswald", sans-serif;

// Typography
$line-height-base: 1.5;
$line-height-heading: 1.1;

$font-weight-normal: 400;
$font-weight-medium: 500;

$h1-font-size: 3.2em;
$h1-line-height: 1;

// Layout
$page-max-width: 960px;
$app-min-width: 320px;
$border-radius: 8px;
