:root {
  // Breakpoints
  --breakpoint-2xs: 440px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 960px;
}

$breakpoint-2xs: 400px;
$breakpoint-xs: 600px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;

// Color palette
$primary: #00957f;
$secondary: #df4f5f;

$text-dark: rgba(255, 255, 255, 0.87);
$bg-dark: #242424;

// Fonts
$base-font: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
$heading-font: "Oswald", sans-serif;

// Typography
$line-height-base: 1.5;
$line-height-heading: 1.1;

$font-weight-normal: 400;
$font-weight-medium: 500;

$h1-font-size: 3.2em;
$h1-line-height: 1;

// Layout
$page-max-width: 960px;
$app-min-width: 320px;
$border-radius: 8px;
