// Color palette
$primary: purple;
$primary-dark: rgb(100, 0, 100);
$secondary: yellow;

// Fonts
$base-font: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
$heading-font: "Oswald", sans-serif;

// Breakpoints
$mobile-breakpoint: 768px;
$desktop-breakpoint: 960px;

$text-dark: rgba(255, 255, 255, 0.87);
$bg-dark: #242424;
