@use "sass:color";
@use "_variables" as *;
@use "_mixins" as *;

:root {
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color-scheme: light dark;
  color: $text-color;
  background-color: $bg-color;
}

.dark-theme {
  color-scheme: dark;
  color: $text-color--dark;
  background-color: $bg-color--dark;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $app-min-width;
  min-height: 100vh;
}

// Typography

h1 {
  font-family: $heading-font;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-block-end: .5rem;
}


a {
  font-weight: $font-weight-medium;
  color: $primary;
  text-decoration: inherit;
  
  &:hover {
    color: color.adjust($primary, $lightness: 10%);
    
    @include dark {
      color: color.adjust($primary--dark, $lightness: 10%);
    }
  }
}

// Layout

#app {
  margin: 0 auto;
}

.page-wrapper {
  width: 100%;
  max-width: $page-max-width;
  margin-inline: auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.dark-theme {
  color-scheme: dark;
}

// Components

button, .btn {
  border-radius: $border-radius;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  
  // Light mode
  background-color: $surface-color;
  color: $text-color;

  @include dark {
    background-color: $surface-color--dark;
    color: $text-color--dark;
  }
  
  &:hover {
    border-color: $primary;

    @include dark {
      border-color: $primary--dark;
    }
  }

  &.btn-sm {
    font-size: .9rem;
  }

  &.btn-primary {
    @include btn-variant($primary, white, $primary--dark);
  }
  
  &.btn-secondary {
    @include btn-variant($secondary, white, $secondary--dark);
  }

  &.btn-icon {
    padding: .6em;
    background: transparent;
    color: white;

    .icon {
      font-size: 1.2em;
    }

    &:hover {
      color: white;
      border-color: color.adjust(white, $alpha: -0.8);
      background: color.adjust(white, $alpha: -0.9);
    }
  }

  &:disabled {
    opacity: .4;
    $color: #9f9f9f;

    &:hover {
      border-color: transparent;
      cursor: default;
      
      @include dark {
        color: $color;
      }
    }
  }
  
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}


// Utilities

.text-dark {
  color: white;

  a {
    color: white;
  }
}

.text-center {
  text-align: center;
}
