@use "_variables" as *;
@use "_mixins" as *;

:root {
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  
  @include dark {
    color: $text-dark;
    background-color: $bg-dark;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  font-weight: $font-weight-medium;
  color: $primary;
  text-decoration: inherit;
  
  &:hover {
    color: $primary-dark;
    
    @include dark {
      color: $primary;
    }
  }
}

body {
  margin: 0;
  min-width: $app-min-width;
  min-height: 100vh;
}

h1 {
  font-family: $heading-font;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-block-end: .5rem;
}

button, .btn {
  border-radius: $border-radius;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  
  // Light mode
  background-color: #f9f9f9;
  color: #213547;
  
  @include dark {
    background-color: #1a1a1a;
    color: white;
  }
  
  &:hover {
    color: #1a1a1a;
    border-color: #646cff;

    @include dark {
      color: white;
    }
  }

  &:disabled {
    color: gray;

        &:hover {
      border-color: transparent;
      color: gray;
      
      @include dark {
        color: gray;
      }
    }
  }
  
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

.page-wrapper {
  width: 100%;
  max-width: $page-max-width;
  margin-inline: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.text-dark {
  color: white;

  a {
    color: white;
  }
}